In [1]:
# normalisation avec robustscaler

# Normalisation RobusteScaler :
__________________________________________________________


<img src='../imgs/robusteSclaer.PNG' style ='width:500px;heigth:400px' >  

__________________________________________________________

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<strong>avant de commencer , on a fait une concaténation de deux classes 'tr_fraudes' et 'tr_normales' , le résultat de la concaténation était 'cleaned_data.csv' , ce dataset commence avec toutes les transactions normales (étiquetées avec 0) jusqu'au milieu, suivi de toutes les transactions frauduleuses (étiquetées avec 1) à partir du milieu jusqu'à la fin .
</strong>

<strong>
dans ce cas ,  on doit mélanger les données de manière aléatoire avant de diviser en ensembles d'entraînement et de test. </strong>

<strong>
Cela garantit que les ensembles de données contiennent un mélange représentatif des deux classes et évite que le modèle ne se base uniquement sur l'ordre des transactions pour prendre des décisions.
</strong>

In [3]:
#Dataframe
dataset =pd.read_csv('cleaned_data.csv')

In [4]:
# d'abord nous voulons mélanger le dataset en fonction de la colonne 'isFraud' utilisant sort_values()
# La méthode sort_values() est une fonctionnalité existe sur Pandas.
# Elle est utilisée pour trier un DataFrame ou une série en fonction des valeurs d'une ou plusieurs colonnes.

In [5]:
data_melang = dataset.sort_values(by='isFraud').sample(frac=1, random_state=5)

In [6]:
#faire une copie 
data = data_melang.copy()

In [7]:
data.head()

,type,amount,oldbalanceOrg,nameDest,oldbalanceDest,isFraud,isFlaggedFraud
9381,1,11272.74,52250.00,1,0.00,0,0
12196,5,226193.35,1331498.39,0,548993.70,0,0
2799,2,4720554.95,4720554.95,0,0.00,1,0
6094,3,1688761.08,1688761.08,0,0.00,1,0
13118,5,455427.69,14409380.62,0,8565657.72,0,0

In [8]:
from sklearn.preprocessing import RobustScaler

# Sélectionner les colonnes à normaliser
cols_a_normaliser = ['amount', 'oldbalanceOrg', 'oldbalanceDest']

# Initialiser le RobustScaler
scaler = RobustScaler()

# Appliquer fit_transform seulement aux colonnes sélectionnées
data[cols_a_normaliser] = scaler.fit_transform(data[cols_a_normaliser])

In [9]:
# Enregistrer le DataFrame normalisé dans un fichier CSV
data.to_csv('final_cleaned.csv', index=False)